<div class="panel blank-panel">
    <div class="panel-body">

        <div class="tab-content">
            <form role="form" class="form-inline">
                {% for i,language in languages %}
                    {% set transPrefix = 'translations['~(i)~']' %}
                    <div class="form-group">
                        <h3>{{ language }}</h3>


                        <label for="{{ id() }}" class="required">Название</label>

                        <div class="input-holder">
                        <textarea rows="5" id="{{ id() }}"
                                  name="{{ transPrefix }}.title"></textarea>
                        </div>

                    </div>
                {% endfor %}

            </form>
        </div>

    </div>

</div>


<button class=" btn-white cancel">Cancel</button>
<button type="submit" class="btn-primary save-category">Save</button>

