{% extends '@KateshchFaq/layout.twig' %}

{% block baseScripts %}
  {{ parent() }}
  <script type="application/javascript">
    {% include '@KateshchFaq/Admin/index.js' %}
  </script>
{% endblock %}


{% twigjs '@KateshchFaq/Widgets/Admin/indexView.twig' %}

{% twigjs '@KateshchFaq/Widgets/Admin/listQuestions.twig' %}
{% twigjs '@KateshchFaq/Widgets/Admin/editQuestion.twig' %}

{% twigjs '@KateshchFaq/Widgets/Admin/listCategories.twig' %}
{% twigjs '@KateshchFaq/Widgets/Admin/editCategory.twig' %}

{% block page %}

    <div class="row border-bottom">
      <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
            <div class="form-group">
              <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
            </div>
          </form>
        </div>

      </nav>
    </div>
  <div class = "content">

  </div>
{% endblock %}