{% extends '@KateshchFaq/layout.twig' %}


{% twigjs '@KateshchFaq/Widgets/Admin/indexView.twig' %}

{% twigjs '@KateshchFaq/Widgets/Admin/listQuestions.twig' %}
{% twigjs '@KateshchFaq/Widgets/Admin/editQuestion.twig' %}

{% twigjs '@KateshchFaq/Widgets/Admin/listCategories.twig' %}
{% twigjs '@KateshchFaq/Widgets/Admin/editCategory.twig' %}

{% block page %}

  <div class="content">

  </div>
{% endblock %}