{% if categories|length > 0 %}
  <ul class="faq-tabset">
    {% for category in categories %}
        <li>
          <a href="#">{{ category.title }}</a>
        </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for category in categories %}
      <div>
          {% for item in category.questions %}
            <div class="question open-close">
              <div class="opener">{{ item.message }}</div>
              <div class="slide">
                <div class="holder">
                  <p>{{ item.answer.message }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}


