<div class="edit-category-form">

  <label>Title</label>
    <textarea cols="30" rows="10" name="translations[0].title" placeholder="Type your message here"></textarea>
  <div class="actions">
    <button type="submit" class="save-question">Save</button>
  </div>
</div>