<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>FAQ</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Faq</a>
      </li>
      <li class="active">
        <strong>Categories</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <a href="" class="btn btn-primary btn-sm add-category">Add category</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="new-category"></div>

      {% for i,item in model.toArray() %}
        <div class="faq-item">
          <div class="row">
            <div class="col-md-7">
              <span class="faq-question">{{ item.title }}</span>
            </div>
            <div class="col-md-3">
              <a href="#" class="edit-category" data-ordinal="{{ i }}"><p>Edit category</p></a>
            </div>
            <div class="col-md-2 text-right">
              <a href="" class="remove-category" data-id="{{ item.id }}">Remove category</a>
            </div>
          </div>


        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="popup-edit-category" style="display:none"></div>