<ul class="nav navbar-nav">
  {% for el in menu %}
    <li {% if el.href == active %}class="active"{% endif %}>
      <a aria-expanded="false" role="button" href="{{ el.href }}">
        <i class="fa fa-{{ el.icon }}"></i>
        {{ el.title }}
      </a>
    </li>
  {% endfor %}
</ul>